

    <div class="main">
       <div class="navbar">
           <div class="icon">
               <h2 class="logo">Easy Pay</h2>
           </div>
       <div class="menu">
       <ul>
           <li><a href="#">Home</a></li>
           <li><a href="#">Message Code</a></li>
           <li><a href="#">BankType</a></li>
           <li><a href="#">Profile</a></li>

       </ul>
   </div>
   
   </div>
   <div>
    <img src="https://etimg.etb2bimg.com/photo/87476815.cms" class="img-fluid" alt="..." />
   </div>
   </div>
   <div class="form">
    <form action="../login/login.component.html">
       <h2>Login Here</h2>
       <button type="submit" (click)="onSubmit()">Login</button><br><br>
    </form>
   </div>



